*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 50px;
 
}

ul {
    list-style-type: none;
    padding: 0;
    width: 170px;
    background-color: #a6e4a6; 
    display: flex;
    flex-direction: column;
    height: 812px;
    margin-right: auto; /
}

.Titulo{
    font-size: 40px; 
    margin-top: 50px; 
    margin-left: 50px; 
}


li {
    flex-grow: 1;
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
    text-decoration: none;
    color: #333;
    border-bottom: 0px solid #ddd;
    flex-grow: 1;
    border-radius: 100px; 
    transition: background-color 0.3s;
}

li a:hover {
    background-color: #f7f7f7;
}

.fondo-iconos {
    width: 8000px;
    height: 130px;
    background-color: #ffffff; 
    margin: auto; 
    transition: transform 0.3s ease-in-out; 
}

.vista-central{
    width: 900px;
    height: 500px;
    background-color: #ffca96da;
    margin-top: 100px;
    margin-left: 180px;
    display: flex;
    border-radius: 50PX;
    
}


.fa-icon {
    margin: auto;
}


.text-center{
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
}


label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 700px;
    
    padding: 1px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

input[type="submit"] {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}